<div ng-controller="NotFoundCtrl" data-role="page">
	<div ng-controller="NavigationCtrl" data-role="header" data-position="fixed" data-tap-toggle="false">
		<span ng-include="'partials/includes/header.html'"></span>
		<span ng-include="'partials/includes/global-play.html'"></span>
	</div>

	<div class="errorNotFound">
		<img src="../css/404.png" alt="D'oh" />
		<h3>404</h3>
		<h3>...no donuts at <em>{{url}}</em>...</h3>
	</div>

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div class="footerTwoActionButtons">
			<div class="feedbackIcon">
				<a ng-click="ListUp.rememberAndGo('/feedback')" data-inline="true"><img src="../css/feedback-white.png" alt="Feedback" /></a>
			</div>
		</div>
	</div>
</div>
