<div ng-controller="EnableCookiesCtrl" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<div ng-controller="NavigationCtrl">
			<span ng-include="'partials/includes/header.html'"></span>
			<span ng-include="'partials/includes/global-play.html'"></span>
		</div>
	</div>

	<div data-role="content">
		<h3>Your browser cookies are disabled</h3>
		<p>Please enable your browser cookies in order to use login/signup and press <em>RELOAD</em> button.</p>
	</div>

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div class="footerTwoActionButtons">
			<a ng-click="reload()" data-role="button" data-inline="true" data-theme="b">RELOAD</a>
		</div>
	</div>
</div>