<div ng-controller="FeedbackCtrl" data-role="page">
	<form ng-submit="sendFeedback()" novalidate name="feedbackForm" action="" stop-event="submit">
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<div ng-controller="NavigationCtrl">
				<span ng-include="'partials/includes/header.html'"></span>
				<span ng-include="'partials/includes/global-play.html'"></span>
			</div>
		</div>

		<div data-role="content">
			<h3 class="popUpTitleCenter">Do you like ListUp?</h3>
			<div class="popUpBtnsCenter">
				<a ng-click="feedback.opinion=1" data-role="button" data-inline="true" ng-class="{feedbackChoice: feedback.opinion==1}">YES</a>
				<a ng-click="feedback.opinion=0" data-role="button" data-inline="true" ng-class="{feedbackChoice: feedback.opinion==0}">NO</a>
				<p>What would you like to change?</p>
				<p>Help us improve ListUp by leaving a <a ng-click="showInput=1" style="text-decoration: none;">comment</a></p>
			</div>
			<input ng-show="(feedback.opinion == 0 || feedback.opinion == 1 || showInput == 1)" ng-model="feedback.comment" type="text" />

			<!-- popup Feedback Sent -->
			<div data-role="popup" data-opened="openedFeedbackSentPop" style="width:200px">
				<div data-role="header" role="banner">
					<h2>Feedback</h2>
				</div>
				<div data-role="content">
					<h3 class="popUpTitleCenter">Thank You!</h3>
					<a ng-click="goToPrevious()" data-role="button" class="ui-btn-active popUpBtnCenter">RETURN</a>
				</div>
			</div>
		</div>

		<div data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div class="footerTwoActionButtons">
				<button type="submit" data-role="button" ng-disabled="feedback.opinion == undefined && !feedback.comment" data-inline="true" data-theme="b">SEND</button>
				<button ng-click="goToPrevious()" type="button" data-role="button" data-inline="true">RETURN</button>
			</div>
		</div>
	</form>
</div>