<div ng-controller="LoginCtrl" data-role="page">
	<form ng-submit="internalLogin()" novalidate name="loginForm" class="login-form" action="" stop-event="submit">
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<div ng-controller="NavigationCtrl">
				<span ng-include="'partials/includes/header.html'"></span>
				<span ng-include="'partials/includes/global-play.html'"></span>
			</div>
		</div>

		<div data-role="content">
			<div>
				<fieldset class="ui-grid-a signIn-third-party">
					<div class="ui-block-a">
						<a ng-click="facebookLogin()" data-role="button" style="background:#3b5998; text-shadow:none; color:#fff; font-weight:normal;" data-icon="listup-facebook-login">Log In</a>
					</div>
					<div class="ui-block-b">
						<a ng-click="googleLogin()" style="background:#cc3732; text-shadow:none; color:#fff; font-weight:normal;" data-role="button" data-icon="listup-google-login">Sign In</a>
					</div>
				</fieldset>
			</div>

			<div data-role="header" role="banner">
				<div data-role="controlgroup" data-type="horizontal" data-corners="false" class="signHeaderCtrlGroupLeft">
					<a href="#!/login" data-role="button" class="ui-btn-active ui-state-persist">Sign In</a>
					<a href="#!/signup" data-role="button">Sign Up</a>
				</div>
			</div>
			<div class="ui-body ui-body-c">
				<div class="signInBox">
					<div>
						<div ng-show="showError" class="error">Username or password are unvalid :( Try again</div>
						<fieldset>
							<label for="loginForm-username" class="ui-hidden-accessible">Email or username:</label>
							<span ng-show="submitted && loginForm.username.$invalid" class="error">You need to enter username or email address to sign in.</span>
							<input type="text" ng-model="username" name="username" id="loginForm-username"  placeholder="Email or username" required />
							<label for="loginForm-password" class="ui-hidden-accessible">Password:</label>
							<span ng-show="submitted && loginForm.password.$invalid" class="error">Password is required.</span>
							<input type="password" ng-model="password" name="password" id="loginForm-password" placeholder="Password" required />
						</fieldset>
					</div>
					<a href="#forgotPassword" data-rel="popup" data-position-to="window">Forgot password?</a>
					<p>
						By signing in, you are agreeing to the <a href="#termsPop" data-rel="popup" data-position-to="window">ListUp Terms Of Use</a>
					</p>
				</div>
				<div id="termsPop" data-role="popup" data-opened="openedTermsPop">
					<div data-role="header" role="banner">
						<h2>Terms of Use</h2>
					</div>
					<div data-role="content">
						<h3>ListUp is powered by SoundCloud and depends on <a href="https://www.soundcloud.com/terms-of-use" target="_blank">SoundCloud Terms of use</a>.</h3>
						<a ng-click="openedTermsPop=false" data-role="button" data-inline="true" class="ui-btn-active">OK</a>
					</div>
				</div>
				<div id="forgotPassword" data-role="popup" data-opened="openedForgotPasswordPop">
					<div data-role="header" role="banner">
						<h2>Forgot pasword?</h2>
					</div>
					<div data-role="content">
						<h3> If you have forgotten your password please <a href="mailto:listupapp@gmail.com?subject=Password recovery&body=I've forgotten my password, help me! My username:" target="_blank">send us an email</a> with your username.</h3>
						<a ng-click="openedForgotPasswordPop=false" data-role="button" data-inline="true" class="ui-btn-active">OK</a>
					</div>
				</div>
			</div>
			<div class="facebook-popup" data-role="popup" data-opened="facebookPopup">
				<div data-role="header" role="banner">
					<h2>Facebook Failed</h2>
				</div>
				<div data-role="content">
					<p>You have logged out from facebook while using Listup.</p>
					<p>Please click on log in with facebook button one more time.</p>
					<a ng-click="facebookPopup=false" data-role="button" class="ui-btn-active">CLOSE</a>
				</div>
			</div>
		</div>

		<div data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div class="footerTwoActionButtons">
				<div class="feedbackIcon">
					<a ng-click="ListUp.rememberAndGo('/feedback')" data-inline="true"><img src="../css/feedback-white.png" alt="Feedback" /></a>
				</div>
				<button type="submit" ng-disabled="loginForm.$invalid" data-role="button" data-inline="true" data-theme="b">SIGN IN</button>
			</div>
		</div>
	</form>
</div>