<div ng-controller="PlaylistListCtrl" data-role="page">
	<div ng-controller="NavigationCtrl" data-role="header" data-position="fixed" data-tap-toggle="false">
		<span ng-include="'partials/includes/header.html'"></span>
		<span ng-include="'partials/includes/global-play.html'"></span>
	</div>

	<div data-role="content" class="banner1">
		<div data-role="header" role="banner" class="bannerBox bannerListAfter">
			<h1 class="bannerTitle">RECENTLY ADDED</h1>
		</div>

		<div infinite-scroll="addMore()" infinite-scroll-disabled="disableScroll">
			<ul data-role="listview" class="playlistList1 listBannerBefore">
				<li ng-repeat="playlist in playlists">
					<a href="#!/playlists/show/{{playlist.id}}">
						<img ng-src="{{playlist.imgURL}}" alt="" />
						<img ng-show="playlist.suggest == 1" src="../css/social.png" class="suggestedPlaylistIcon" alt="Suggestable" />
						<h3 ng-class="{playlistListForkHeading: playlist.referer != null}">{{playlist.title}}</h3>
						<p>{{playlist.creatorUsername}}</p>
						<p ng-show="playlist.referer != null" class="playlistListForkParagraph">Forked from {{playlist.referer}}</p>
					</a>
				</li>
			</ul>
			<div ng-show="busy" style="text-align: center; ">Loading more playlists...</div>
			<a ng-click="addMore()" ng-show="!allLoaded && !busy" data-role="button" style="margin-top: 20px; ">MORE</a>
		</div>
	</div>

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div class="footerTwoActionButtons">
			<div class="feedbackIcon">
				<a ng-click="ListUp.rememberAndGo('/feedback')" data-inline="true"><img src="../css/feedback-white.png" alt="Feedback" /></a>
			</div>
		</div>
	</div>
</div>