<div ng-controller="PlaylistSuggestCtrl" data-role="page">
	<div ng-controller="NavigationCtrl" data-role="header" data-position="fixed" data-tap-toggle="false">
		<span ng-include="'partials/includes/header.html'"></span>
		<span ng-include="'partials/includes/global-play.html'"></span>
	</div>

	<div data-role="content">
		<div class="playlistViewWrapper">	
			<div data-role="header" role="banner" class="bannerBox bannerListAfter">
				<h1 class="bannerTitle">SUGGESTIONS FOR <a class="username" href="#!/playlists/show/{{currentPlaylistId | encodeURIComponent}}">{{playlist.title}}</a></h1>
			</div>
			<div ng-show="songsOptions.length == 0">
				<h3>You didn't suggest any songs yet</h3>
				<ol>
					<li>To suggest songs enter the artist/song title and click on <img class="infoButton" src="../css/addButton.png" /></li>
					<li>When you're ready to send your suggestions click on <img class="infoButton" src="../css/sendButton.png" /></li>
				</ol>
			</div>
			<div class="songs-chooser" ui-sortable="sortableOptions" ng-model="songsOptions">
				<div ng-repeat="songs in songsOptions" data-role="collapsible-set" data-iconpos="bottom" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u" data-inset="false" data-theme="d" data-content-theme="d" class="newSongsDiv">
					<div data-role="{{songs.songs.length > 1 && 'collapsible'}}">
						<h2 ng-click="closeOtherCollapsibles($index)" ngm-swipe="deleteSong($index)" ng-class="{createPlaylistThmbList1: songs.songs.length > 1}" class="newSongsChosen">						
							<ul data-role="listview">
								<li class="newSongChosenInfo listItemWithIcon">
									<img ng-src="{{songs.songs[songs.chosen].imgURL}}" alt="" />
									<h3>{{songs.songs[songs.chosen].title}}</h3>
									<p><a href="https://soundcloud.com/{{songs.songs[songs.chosen].artist | encodeURIComponent}}" target="_blank"><img src="../css/SC_orange.png" alt="SoundCloud" /> By {{songs.songs[songs.chosen].artist}}</a></p>
									<div class="trashBtnContainer">
										<a href="#delete-song" ng-click="deleteSong($index)" data-role="button" data-icon="delete" data-iconpos="notext" data-position-to="window" class="deleteIcon" stop-event="click"></a>
									</div>
								</li>
							</ul>
						</h2>

						<ul ng-show="songs.songs.length > 1" class="song-suggestions" data-role="listview">
							<li ng-repeat="song in songs.songs" ng-click="selectSong(song.$index, $index, songs)">
								<img ng-src="{{song.imgURL}}" alt="" />
								<h3>{{song.title}}</h3>
								<p><a href="https://soundcloud.com/{{song.artist | encodeURIComponent}}" target="_blank"><img src="../css/SC_orange.png" alt="SoundCloud" /> By {{song.artist}}</a></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- popup Suggesting Playing Playlist -->
		<div data-role="popup" data-opened="openedSuggestPop">
			<div data-role="header" role="banner">
				<h2>Oops</h2>
			</div>
			<div data-role="content">
				<h3> You can't send suggestions on playlist that is currently playing.</h3>
				<a ng-click="openedSuggestPop=false" data-role="button" data-inline="true" class="ui-btn-active popUpBtnCenter">OK</a>
			</div>
		</div>
	</div>

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<form ng-submit="addSong()" novalidate name="addSongSuggestForm" action="" stop-event="submit">
			<div data-role="fieldcontain" class="ui-hide-label createPlaylistEnterSongTextInputField">
				<label for="enterSong">Enter artist/song title:</label>
				<input type="text" ng-model="searchTerm" name="enterSong" id="enterSong" placeholder="Enter your suggestion" class="createPlaylistEnterSongTextInput" />
			</div>
			<div ng-show="notExists" class="ui-bar ui-bar-a" style="padding-left: 6px; top: -4px; width: 100%;">Sorry, your song was not found :( Try something else</div>
			<div class="footerCenterBtns">
				<div class="feedbackIcon">
					<a ng-click="ListUp.rememberAndGo('/feedback')" data-inline="true"><img src="../css/feedback-white.png" alt="Feedback" /></a>
				</div>
				<button type="submit" data-role="button" data-inline="true" data-theme="b">ADD</button>
				<button type="button" ng-click="sendSuggestions()" data-inline="true" data-role="button">SEND</button>
			</div>
		</form>
	</div>
</div>