<div ng-controller="PlaylistSaveCtrl" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<div ng-controller="NavigationCtrl">
			<span ng-include="'partials/includes/header.html'"></span>
			<span ng-include="'partials/includes/global-play.html'"></span>
			<div data-role="navbar">
				<ul>	
					<li>
						<a class="default-navbar-selection" ng-class="{'ui-btn-active': playlistView == 'create'}" ng-click="view('create')" data-role="button">SONGS</a>
					</li>
					<li>
						<a ng-class="{'ui-btn-active': playlistView == 'settings'}" ng-click="view('settings')" data-role="button">SETTINGS</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div data-role="content" ng-switch on="playlistView">
		<span ng-switch-when="create">
			<div class="playlistViewWrapper">
				<div ng-show="songsOptions.length == 0">
					<h3>You don't have any songs in the playlist</h3>
					<ol>
						<li>To add songs enter the artist/song title and click on <img class="infoButton" src="../css/addButton.png" /></li>
						<li>When you're ready to create the playlist click on <img class="infoButton" src="../css/nextButton.png" /></li>
					</ol>
				</div>
				<div ng-show="playlist.suggest" data-role="header" role="banner" class="bannerBox bannerListAfter">
					<h1 class="bannerTitle">SELECTED SONGS</h1>
				</div>
				<div style="position: relative;" class="songs-chooser" ui-sortable="sortableOptions" ng-model="songsOptions">
					<div ng-repeat="songs in songsOptions" ng-show="songs.songs[songs.chosen].isAccepted == '1'" data-role="collapsible-set" data-iconpos="bottom" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u" data-inset="false" data-theme="d" data-content-theme="d" class="newSongsDiv">
						<div data-role="{{songs.songs.length > 1 && 'collapsible'}}">
							<h2 ng-click="closeOtherCollapsibles($index)" ngm-swipe="confirmSongDelete(songs)" ng-class="{newSongsChosen: songs.songs.length > 1, createPlaylistThmbList1: songs.songs.length > 1, songsToChoose: songs.songs.length == 1}">
								<ul data-role="listview">
									<li class="newSongChosenInfo listItemWithIcon">
										<img ng-src="{{songs.songs[songs.chosen].imgURL}}" alt="" />
										<h3>{{songs.songs[songs.chosen].title}}</h3>
										<p><a href="https://soundcloud.com/{{songs.songs[songs.chosen].artist | encodeURIComponent}}" target="_blank"><img src="../css/SC_orange.png" alt="SoundCloud" /> By {{songs.songs[songs.chosen].artist}}</a></p>
										<p ng-show="songs.songs[songs.chosen].suggestor != null" class="playlistListForkParagraph">
											Suggested by
											<a href="#!/user/{{songs.songs[songs.chosen].suggestor | encodeURIComponent}}/playlists">{{songs.songs[songs.chosen].suggestor_name}}</a>
										</p>
										<div class="trashBtnContainer">
											<a ng-click="confirmSongDelete(songs)" data-role="button" data-icon="delete" data-iconpos="notext" class="deleteIcon" stop-event="click"></a>
										</div>
									</li>
								</ul>
							</h2>

							<ul ng-show="songs.songs.length > 1" class="song-suggestions"  data-role="listview">
								<li ng-repeat="song in songs.songs" ng-click="selectSong(song.$index, $index, songs)">
									<img ng-src="{{song.imgURL}}" alt="" />
									<h3>{{song.title}}</h3>
									<p><a href="https://soundcloud.com/{{song.artist | encodeURIComponent}}" target="_blank"><img src="../css/SC_orange.png" alt="SoundCloud" /> By {{song.artist}}</a></p>
									<p ng-show="song.suggestor != null" class="playlistListForkParagraph">
										Suggested by
										<a href="#!/user/{{song.suggestor | encodeURIComponent}}/playlists">{{song.suggestor_name}}</a>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- SHOWN IF SUGGEST == 1 -->
				<div ng-show="playlist.suggest" >
					<div data-role="header" role="banner" class="bannerBox bannerListAfter">
						<h1 class="bannerTitle">SUGGESTED SONGS</h1> 
					</div>
					<div ng-repeat="songs in songsOptions" ng-show="songs.songs[songs.chosen].isAccepted == '0'" style="margin-bottom: 15px;">
						<ul class="song-suggestions listBannerBefore" data-role="listview">
							<li class="songsList listItemWithIcon" style="border-bottom: 1px solid #CCCCCC;">
								<div class="songsListImgContainer">
									<a ng-click="acceptSuggestion(songs)">
										<div>
											<img ng-src="{{songs.songs[songs.chosen].imgURL}}" class="songListImg" alt="" />
										</div>
										<div class="playBtn">
											<span data-role="button" data-icon="check" data-iconpos="notext"></span>
										</div>
									</a>
								</div>
								<div>
									<h3>{{songs.songs[songs.chosen].title}}</h3>
									<p><a href="https://soundcloud.com/{{songs.songs[songs.chosen].artist | encodeURIComponent}}" target="_blank"><img src="../css/SC_orange.png" alt="SoundCloud" /> By {{songs.songs[songs.chosen].artist}}</a></p>
									<p ng-show="songs.songs[songs.chosen].suggestor != null" class="playlistListForkParagraph">
										Suggested by
										<a href="#!/user/{{songs.songs[songs.chosen].suggestor | encodeURIComponent}}/playlists">{{songs.songs[songs.chosen].suggestor_name}}</a>
									</p>
								</div>
								<div class="trashBtnContainer">
									<a ng-click="confirmSongDelete(songs)" data-role="button" data-icon="delete" data-iconpos="notext" class="deleteIcon"></a>
								</div>
							</li>
						</ul>
					</div>
				</div> 
			</div>
		</span>
		<span ng-switch-when="settings">
			<div ng-hide="true">
				<fieldset class="ui-grid-a">
					<div class="playlistSettingsGridColumn1 ui-block-a">
						<div class="ui-body ui-body-c playlistSettingsTextDivs">
							<h4>SONGS VOTING:</h4>
						</div>
					</div>
					<div class="playlistSettingsGridColumn2 ui-block-b">
						<fieldset data-role="controlgroup" data-type="horizontal" class="playlistSettingsRadioBtn"> 
							<input ng-model="$parent.playlist.vote" ng-change="vote()" type="radio" name="voting-choice" id="voting-yes" ng-value="1" />
							<label for="voting-yes">YES</label>
							<input ng-model="$parent.playlist.vote" ng-change="vote()" type="radio" name="voting-choice" id="voting-no" ng-value="0" />
							<label for="voting-no">NO</label>
						</fieldset>
					</div>
				</fieldset>
			</div>
			<div>
				<div data-role="fieldcontain" class="createPlaylistSettingsInputField ui-hide-label">
					<label for="playlistTitle">Enter playlist title:</label>
					<input ng-model="$parent.playlist.title" type="text" name="playlistTitle" id="playlistTitle" value="" placeholder="Enter playlist title" class="createPlaylistEnterSongTextInput" />
				</div>
				<div ng-hide="true" data-role="fieldcontain" class="createPlaylistSettingsInputField ui-hide-label">
					<label for="imgURL">To add image to your playlist you can copy image URL here</label>
					<input ng-model="$parent.playlist.imgURL" type="text" name="imgURL" id="imgURL" placeholder="To add image to your playlist you can copy image URL here" class="createPlaylistEnterSongTextInput" />
				</div>


				<fieldset class="ui-grid-a">
					<div class="playlistSettingsGridColumn1 ui-block-a">
						<div class="ui-body ui-body-c playlistSettingsTextDivs">
							<h4>SUGGESTIONS</h4>
						</div>
					</div>
					<div class="playlistSettingsGridColumn2 ui-block-b">
						<fieldset data-role="controlgroup" data-type="horizontal" class="playlistSettingsRadioBtn"> 
							<input ng-model="playlist.suggest" type="radio" name="suggestions-choice" id="suggestions-yes" ng-value="1" />
							<label for="suggestions-yes">YES</label>
							<input ng-model="playlist.suggest" type="radio" name="suggestions-choice" id="suggestions-no" ng-value="0" />
							<label for="suggestions-no">NO</label>
						</fieldset>
					</div>
				</fieldset>

				<fieldset class="ui-grid-a">
					<div class="playlistSettingsGridColumn1 ui-block-a">
						<div class="ui-body ui-body-c playlistSettingsTextDivs">
							<h4>PUBLIC</h4>
						</div>
					</div>
					<div class="playlistSettingsGridColumn2 ui-block-b">
						<fieldset data-role="controlgroup" data-type="horizontal" class="playlistSettingsRadioBtn"> 
							<input ng-model="playlist.visibility" type="radio" name="public-choice" id="public-yes" value="all" />
							<label for="public-yes">YES</label>
							<input ng-model="playlist.visibility" type="radio" name="public-choice" id="public-no" value="private" />
							<label for="public-no">NO</label>
						</fieldset>
					</div>
				</fieldset>
			</div>
		</span>

		<!-- popup Delete Playing Song -->
		<div data-role="popup" data-opened="openedPlayingSongPop">
			<div data-role="header" role="banner">
				<h2>Oops</h2>
			</div>
			<div data-role="content">
				<h3> You can't delete songs from playlist that is currently playing.</h3>
				<a ng-click="openedPlayingSongPop=false" data-role="button" data-inline="true" class="ui-btn-active popUpBtnCenter">OK</a>
			</div>
		</div>
		<!-- popup Edit Playing Playlist -->
		<div data-role="popup" data-opened="openedPlayingPlaylistPop">
			<div data-role="header" role="banner">
				<h2>Oops</h2>
			</div>
			<div data-role="content">
				<h3> You can't edit playlist that is currently playing.</h3>
				<a ng-click="openedPlayingPlaylistPop=false" data-role="button" data-inline="true" class="ui-btn-active popUpBtnCenter">OK</a>
			</div>
		</div>
		<!-- popup Title Undefined -->
		<div data-role="popup" data-opened="openedTitlePop">
			<div data-role="header" role="banner">
				<h2>Playlist title required</h2>
			</div>
			<div data-role="content">
				<h3> To create your playlist you need to enter the title.</h3>
				<a ng-click="openedTitlePop=false" data-role="button" data-inline="true" class="ui-btn-active popUpBtnCenter">OK</a>
			</div>
		</div>
	</div>
	
	<div ng-switch on="playlistView">
		<span ng-switch-when="create">
			<div data-role="footer" data-position="fixed" data-tap-toggle="false">
				<form ng-submit="addSong()" novalidate name="addSongForm" action="" stop-event="submit">
					<div data-role="fieldcontain" class="createPlaylistEnterSongTextInputField ui-hide-label">
						<label for="enterSong">Enter artist/song title:</label>
						<input type="text" ng-model="$parent.searchTerm" name="enterSong" id="enterSong" placeholder="Enter artist/song title" class="createPlaylistEnterSongTextInput" />
					</div>
					<div ng-show="notExists" class="ui-bar ui-bar-a" style="padding-left: 6px; top: -4px; width: 100%;">Sorry, your song was not found :( Try something else</div>
					<div class="footerCenterBtns">
						<div class="feedbackIcon">
							<a ng-click="ListUp.rememberAndGo('/feedback')" data-inline="true"><img src="../css/feedback-white.png" alt="Feedback" /></a>
						</div>
						<button type="submit" data-role="button" data-inline="true" data-theme="b">ADD</button>
						<button type="button" ng-click="view('settings')" data-inline="true" data-role="button">NEXT</button>
					</div>
				</form>
			</div>
		</span>
		<span ng-switch-when="settings">
			<div data-role="footer" data-position="fixed" data-tap-toggle="false">
				<div class="footerCenterBtns">
						<div class="feedbackIcon">
							<a ng-click="ListUp.rememberAndGo('/feedback')" data-inline="true"><img src="../css/feedback-white.png" alt="Feedback" /></a>
						</div>
						<a ng-click="view('create')" data-role="button">BACK</a>
						<a ng-click="confirmPlayingPlaylist()" ng-show="$parent.playlist.title" data-role="button" data-theme="b" style="display:none;">{{saveLabel}}</a>
						<a ng-click="confirmTitle()" ng-hide="$parent.playlist.title" data-role="button">{{saveLabel}}</a>
					</span>
				</div>
			</div>
		</span>
	</div>	
</div>
