﻿<div ng-controller="PlaylistDetailCtrl" data-role="page">
	<div ng-controller="NavigationCtrl" data-role="header" data-position="fixed" data-tap-toggle="false">
		<span ng-include="'partials/includes/header.html'"></span>
		<span ng-include="'partials/includes/global-play.html'"></span>
	</div>
	
	<div data-role="content" class="plDetailsBanner1 banner1">
		<div data-role="header" role="banner" class="bannerBox bannerListAfter">
			<h2 class="bannerTitle">
				<em>{{playlist.title}}</em>
				by <a class="username" href="#!/user/{{playlist.creatorId | encodeURIComponent}}/playlists">{{playlist.creatorUsername}}</a>
			</h2>
			<a ng-show="currentPlaylistId == ListUp.playingPlaylist && (ListUp.playing || ListUp.pausing)" ng-click="repeat()" ng-class="{true: 'ui-btn-active ui-state-persist'}[ListUp.repeatPlaylist]" data-role="button" data-icon="refresh" data-iconpos="notext" class="ui-btn-right">Repeat</a>
		</div>		
		<ul data-role="listview" class="listBannerBefore">
			<li ng-class="{playing: $index == selectedIndex && (ListUp.playing || ListUp.pausing) && ListUp.playingPlaylist == playlist.id}" ng-repeat="song in playlist.songs" ng-show="song.isAccepted == '1'" class="songsList listItemWithIcon">
				<div class="songsListImgContainer">
					<a ng-click="toggleSong($index)">
						<div>
							<img ng-src="{{song.imgURL}}" class="songListImg" alt="" />
						</div>
						<div class="playBtn">
							<span ng-hide="$index == selectedIndex && ListUp.playing && ListUp.playingPlaylist == playlist.id" data-role="button" data-icon="play" data-iconpos="notext" data-corners="false"></span>
							<span ng-show="$index == selectedIndex && ListUp.playing && ListUp.playingPlaylist == playlist.id" data-role="button" data-icon="pause" data-iconpos="notext" data-corners="false"></span>
						</div>
					</a>
				</div>
				<div>
					<h3>{{song.title}}</h3>	
					<p><a href="https://soundcloud.com/{{song.artist | encodeURIComponent}}" target="_blank"><img src="../css/SC_orange.png" alt="SoundCloud" /> By {{song.artist}}</a></p>
					<p ng-show="song.suggestor != null" class="playlistListForkParagraph">
						Suggested by
						<a href="#!/user/{{song.suggestor | encodeURIComponent}}/playlists">{{song.suggestor_name}}</a>
					</p>
				</div>
				<div class="addBtnContainer">
					<a ng-click="addSong(song, playlist)" data-role="button" data-icon="add" data-iconpos="notext" class="addIcon">Add to new playlist</a>
				</div>
			</li>
		</ul>

		<!-- popup Delete Playlist -->
		<div data-role="popup" data-opened="openedDeletePlaylistPop">
			<div data-role="header" role="banner">
				<h2>Delete Playlist?</h2>
			</div>
			<div data-role="content">
				<h3> Are you sure you want to delete this Playlist?</h3>
				<p>This action cannot be undone</p>
				<div class="popUpBtnsCenter">
					<a ng-click="openedDeletePlaylistPop=false" data-role="button" data-inline="true">CANCEL</a>
					<a ng-click="deletePlaylist()" data-role="button" data-inline="true" class="ui-btn-active">DELETE</a>
				</div>
			</div>
		</div>
		<!-- popup Delete Playing Playlist -->
		<div data-role="popup" data-opened="openedDeletePlayingPlaylistPop">
			<div data-role="header" role="banner">
				<h2>Oops</h2>
			</div>
			<div data-role="content">
				<h3> You can't delete playlist that is currently playing.</h3>
				<a ng-click="openedDeletePlayingPlaylistPop=false" data-role="button" data-inline="true" class="ui-btn-active popUpBtnCenter">OK</a>
			</div>
		</div>
		<!-- popup Share pop -->
		<div class="sharePop" data-role="popup" data-opened="openedSharePop">
			<div data-role="header" role="banner">
				<h2>Share</h2>
			</div>
			<div data-role="content" style="padding: 40px 0 40px 70px;">
				<div style="overflow:hidden; margin-bottom: 40px;" width="100">
					<fb:like href="https://listup.audio:{{port}}/api/1.0/playlists/{{playlist.id}}" width="100" layout="button_count" show_faces="false" send="false"></fb:like>
				</div>
				<span class="gplusone" href="https://listup.audio:{{port}}/api/1.0/playlists/{{playlist.id}}"></span>
			</div>
		</div>

		<div data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div ng-show="ListUp.username == playlist.creatorUsername" class="footerTwoActionButtons" style="display:none;">
				<div class="feedbackIcon">
					<a ng-click="ListUp.rememberAndGo('/feedback')" data-inline="true"><img src="../css/feedback-white.png" alt="Feedback" /></a>
				</div>
				<a href="#!/playlists/edit/{{currentPlaylistId}}" data-role="button" data-inline="true" data-theme="b">EDIT</a>
				<a ng-click="confirmPlaylistDelete()" data-role="button" data-inline="true">DELETE</a>
				<a ng-show="playlist.visibility == 'all'" ng-click="showSharePop()" data-role="button" data-inline="true" class="">SHARE</a>
			</div>
			<div ng-show="ListUp.username != playlist.creatorUsername" class="footerCenterBtns" style="display:none;">
				<div class="feedbackIcon feedbackIconMoreSpace">
					<a ng-click="ListUp.rememberAndGo('/feedback')" data-inline="true"><img src="../css/feedback-white.png" alt="Feedback" /></a>
				</div>
				<a ng-show="playlist.suggest == 1" ng-click="suggest()" data-role="button" data-inline="true" data-theme="b">SUGGEST</a>
				<a ng-click="forkPlaylist()" data-role="button" data-inline="true" class="">FORK</a>
				<a ng-show="playlist.visibility == 'all'" ng-click="showSharePop()" data-role="button" data-inline="true" class="">SHARE</a>
			</div>
		</div>
	</div>
</div>
