<div ng-controller="SignUpSuccessCtrl" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<div ng-controller="NavigationCtrl">
			<span ng-include="'partials/includes/header.html'"></span>
			<span ng-include="'partials/includes/global-play.html'"></span>
		</div>
	</div>

	<div data-role="content">
		<h3>You have successfully completed registration process</h3>
		<p>You may now sign in with your credentials.</p>
	</div>

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div class="footerTwoActionButtons">
			<a href="#!/login" data-role="button" data-inline="true" data-theme="b">SIGN IN</a>
		</div>
	</div>
</div>