<div ng-controller="SignUpCtrl" data-role="page">
	<form ng-submit="signUp()" novalidate name="registerForm" class="css-form" action="" stop-event="submit">
		<div data-role="header" data-position="fixed" data-tap-toggle="false">
			<div ng-controller="NavigationCtrl">
				<span ng-include="'partials/includes/header.html'"></span>
				<span ng-include="'partials/includes/global-play.html'"></span>
			</div>
		</div>

		<div data-role="content">
			<div>
				<fieldset class="ui-grid-a signIn-third-party">
					<div class="ui-block-a">
						<a ng-click="facebookLogin()" data-role="button" style="background:#3b5998; text-shadow:none; color:#fff; font-weight:normal;" data-icon="listup-facebook-login">Log In</a>
					</div>
					<div class="ui-block-b">
						<a ng-click="googleLogin()" style="background:#cc3732; text-shadow:none; color:#fff; font-weight:normal;" data-role="button" data-icon="listup-google-login">Sign In</a>
					</div>
				</fieldset>
			</div>

			<div data-role="header" role="banner">
				<div data-role="controlgroup" data-type="horizontal" data-corners="false" class="signHeaderCtrlGroupLeft">
					<a href="#!/login" data-role="button">Sign In</a>
					<a href="#!/signup" data-role="button" class="ui-btn-active ui-state-persist">Sign Up</a>
				</div>
			</div>
			<div class="ui-body ui-body-c">
				<div class="signInBox">
					<div>
						<div ng-show="showConflictError" class="error">Username already exists. Choose another name.</div>
						<div ng-show="showError" class="error">Registration failed. Did you write your email address and password correct?</div>
						<fieldset>
							<label for="registerForm-username" class="ui-hidden-accessible">Username</label>
							<span ng-show="submitted && registerForm.username.$invalid" class="error">Username is required.</span>
							<input type="text" ng-model="user.username" name="username" id="registerForm-username" placeholder="Username" required />

							<label for="registerForm-email" class="ui-hidden-accessible">Email</label>
							<span ng-show="submitted && registerForm.email.$invalid" class="error">Email address is not valid.</span>
							<input type="email" ng-model="user.email" name="email" id="registerForm-email" placeholder="Email" required />
						</fieldset>
						<fieldset class="signUpPasswordGrid ui-grid-a">
							<div class="signUpPasswordGridMargin ui-block-a">
								<label for="registerForm-password" class="ui-hidden-accessible">Password</label>
								<span ng-show="submitted && registerForm.password.$invalid" class="error">Password is required.</span>
								<span ng-show="submitted && registerForm.passwordConfirm.$invalid" class="error">&nbsp;</span>
								<input type="password" ng-model="user.password" name="password" id="registerForm-password" placeholder="Password" required />
							</div>
							<div class="ui-block-b">
								<label for="registerForm-passwordConfirm" class="ui-hidden-accessible">Retype password</label>
								<span ng-show="submitted && registerForm.passwordConfirm.$invalid" class="error">Password is not the same.</span>
								<input type="password" ng-model="passwordConfirm" name="passwordConfirm" password-validator="password" id="registerForm-passwordConfirm" placeholder="Retype password" required />
							</div>
						</fieldset>
					</div>
					<p>
						By signing in, you are agreeing to the <a href="#termsPop" data-rel="popup" data-position-to="window">ListUp Terms Of Use</a>
					</p>
				</div>
				<div id="termsPop" data-role="popup" data-opened="openedTermsPop">
					<div data-role="header" role="banner">
						<h2>Terms of Use</h2>
					</div>
					<div data-role="content">
						<h3>ListUp is powered by SoundCloud and depends on <a href="https://www.soundcloud.com/terms-of-use" target="_blank">SoundCloud Terms of use</a>.</h3>
						<a ng-click="openedTermsPop=false" data-role="button" data-inline="true" class="ui-btn-active">OK</a>
					</div>
				</div>
			</div>
			<div class="facebook-popup" data-role="popup" data-opened="facebookPopup">
				<div data-role="header" role="banner">
					<h2>Facebook Failed</h2>
				</div>
				<div data-role="content">
					<p>You have logged out from facebook while using Listup.</p>
					<p>Please click on log in with facebook button one more time.</p>
					<a ng-click="facebookPopup=false" data-role="button" class="ui-btn-active">CLOSE</a>
				</div>
			</div>
		</div>

		<div data-role="footer" data-position="fixed" data-tap-toggle="false">
			<div class="footerTwoActionButtons">
				<div class="feedbackIcon">
					<a ng-click="ListUp.rememberAndGo('/feedback')" data-inline="true"><img src="../css/feedback-white.png" alt="Feedback" /></a>
				</div>
				<button type="submit" ng-disabled="registerForm.$invalid" data-role="button" data-inline="true" data-theme="b">SIGN UP</button>
			</div>
		</div>
	</form>
</div>