<div ng-controller="UserPlaylistsCtrl" data-role="page">
	<div ng-controller="NavigationCtrl" data-role="header" data-position="fixed" data-tap-toggle="false">
		<span ng-include="'partials/includes/header.html'"></span>
		<span ng-include="'partials/includes/global-play.html'"></span>
	</div>

	<div data-role="content" class="banner1">
		<span ng-hide="isOwnPage">
			<div data-role="header" role="banner" class="bannerBox bannerListAfter">
				<h1 class="bannerTitle"><em>PLAYLISTS OF {{user.username}}</em></h1>
			</div>

			<ul data-role="listview" class="playlistList1 listBannerBefore">
				<li ng-repeat="playlist in playlists | orderBy: 'time': true" ng-show="playlist.visibility=='all'">
					<a href="#!/playlists/show/{{playlist.id}}" class="createPlaylistThmbList1">
						<img ng-src="{{playlist.imgURL}}" alt="" />
						<img ng-show="playlist.suggest == 1" src="../css/social.png" class="suggestedPlaylistIcon" alt="Suggestable" />
						<h3 ng-class="{playlistListForkHeading: playlist.referer != null}">{{playlist.title}}</h3>
						<p>{{playlist.creatorUsername}}</p>
						<p ng-show="playlist.referer != null" class="playlistListForkParagraph">Forked from {{playlist.referer}}</p>
						<div class="trashBtnContainer">
							<a ng-click="confirmPlaylistDelete(playlist)" data-role="button" data-icon="delete" data-iconpos="notext" class="deleteIcon"></a>
						</div>
					</a>
				</li>
			</ul>
		</span>

		<span ng-show="isOwnPage">
			<div data-role="header" role="banner" class="bannerBox bannerListAfter rightButtonPresent">
				<h1 class="bannerTitle"><em>{{user.username}}</em></h1>
				<a ng-click="logout()" class="ui-btn-right">Log out</a>
			</div>

			<div ng-show="showPrivate" data-role="header" role="banner" class="bannerBox bannerListAfter">
				<h2 class="bannerTitle">PRIVATE PLAYLISTS</h2>
			</div>
			<ul data-role="listview" class="playlistList1 listBannerBefore">
				<li ng-repeat="playlist in playlists | orderBy: 'time': true" ng-hide="playlist.visibility=='all'">
					<a href="#!/playlists/show/{{playlist.id}}" class="createPlaylistThmbList1">
						<img ng-src="{{playlist.imgURL}}" alt="" />
						<img ng-show="playlist.suggest == 1" src="../css/social.png" class="suggestedPlaylistIcon" alt="Suggestable" />
						<h3 ng-class="{playlistListForkHeading: playlist.referer != null}">{{playlist.title}}</h3>
						<p>{{playlist.creatorUsername}}</p>
						<p ng-show="playlist.referer != null" class="playlistListForkParagraph">Forked from {{playlist.referer}}</p>
						<div class="trashBtnContainer">
							<a ng-click="confirmPlaylistDelete(playlist)" data-role="button" data-icon="delete" data-iconpos="notext" class="deleteIcon"></a>
						</div>
					</a>
				</li>
			</ul>

			<div ng-show="showPublic" data-role="header" role="banner" class="bannerBox bannerListAfter">
				<h2 class="bannerTitle">PUBLIC PLAYLIST</h2>
			</div>
			<ul data-role="listview" class="playlistList1 listBannerBefore">
				<li ng-repeat="playlist in playlists | orderBy: 'time': true" ng-show="playlist.visibility=='all'">
					<a href="#!/playlists/show/{{playlist.id}}" class="createPlaylistThmbList1">
						<img ng-src="{{playlist.imgURL}}" alt="" />
						<img ng-show="playlist.suggest == 1" src="../css/social.png" class="suggestedPlaylistIcon" alt="Suggestable" />
						<h3 ng-class="{playlistListForkHeading: playlist.referer != null}">{{playlist.title}}</h3>
						<p>{{playlist.creatorUsername}}</p>
						<p ng-show="playlist.referer != null" class="playlistListForkParagraph">Forked from {{playlist.referer}}</p>
						<div class="trashBtnContainer">
							<a ng-click="confirmPlaylistDelete(playlist)" data-role="button" data-icon="delete" data-iconpos="notext" class="deleteIcon"></a>
						</div>
					</a>
				</li>
			</ul>
		</span>

		<!-- popup Confirm Delete Playing Playlist -->
		<div data-role="popup" data-opened="openedDeletePlaylistPop">
			<div data-role="header" role="banner">
				<h2>Delete Playlist?</h2>
			</div>
			<div data-role="content">
				<h3> Are you sure you want to delete this playlist?</h3>
				<p>This action cannot be undone</p>
				<div class="popUpBtnsCenter">
					<a ng-click="openedDeletePlaylistPop=false" data-role="button" data-inline="true">CANCEL</a>
					<a ng-click="deletePlaylist()" data-role="button" data-inline="true" class="ui-btn-active">DELETE</a>
				</div>
			</div>
		</div>
		<!-- popup Delete Playing Playlist -->
		<div data-role="popup" data-opened="openedPlayingPlaylistPop">
			<div data-role="header" role="banner">
				<h2>Oops</h2>
			</div>
			<div data-role="content">
				<h3> You can't delete playlist that is currently playing.</h3>
				<a ng-click="openedPlayingPlaylistPop=false" data-role="button" data-inline="true" class="ui-btn-active popUpBtnCenter">OK</a>
			</div>
		</div>
	</div>

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div class="footerTwoActionButtons">
			<div class="feedbackIcon">
				<a ng-click="ListUp.rememberAndGo('/feedback')" data-inline="true"><img src="../css/feedback-white.png" alt="Feedback" /></a>
			</div>
		</div>
	</div>
</div>