@charset "UTF-8";
/* -------------    TO DOOOOOOOOO ----------------
ovo treba u harmonici ali radi probleme radio buttonsima */
/*MArtina selected song for playing*/

.playing {
	background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 42%,rgba(128,194,23,1) 97%,rgba(124,188,10,1) 100%);
}

/* -----------------------------------------------------------------*/
.createPlaylistThmbList1 .ui-btn-up-c {
	background: transparent;
}

/*   HEADER   */
.ui-controlgroup.ui-controlgroup-horizontal.headerCtrlGroupLeft {
	float: left;
}

.ui-controlgroup.ui-controlgroup-horizontal.headerCtrlGroupRight {
	float: right;
}

.ui-controlgroup.ui-controlgroup-horizontal.signHeaderCtrlGroupLeft {
	display: inline-block;
	margin: 0;
}

.ui-controlgroup.headerCtrlGroupLeft,
.ui-controlgroup.headerCtrlGroupRight {
	margin: 0;
}

.ui-controlgroup .headerBtns.ui-btn-icon-notext .ui-btn-inner,
.headerBtns .ui-btn-inner {
	height: 50px;
	padding-top: 0;
	padding-bottom: 0;
}

.textBtnHeader .ui-btn-text {
	top: 16px;
}
.logoBtn .ui-btn-inner {
	padding: 0;
}

/*   INDEX.HTML   */
.ui-content.banner1 {
	padding-top: 0;
}

.bannerSuggestion {
	margin-top: 0;
	height: 40px;
}

.bannerBox{
	height: 40px;
	margin-left: -15px;
	margin-right: -15px;
	padding-bottom: 10px;
	padding-left: 6px;
}

.ui-header .ui-title.bannerTitle {
	text-align: left;
	margin-left: 0;
	width: 100%;
}

.ui-content .ui-listview.playlistList1 {
	margin-bottom: 0;
}


/*   SIGNIN.HTML/SIGNUP.HTML/SIGNUP-USERNAME.HTML   */

.signUpPasswordGrid.ui-grid-a>*:nth-child(n) {
	width: 47.5%;
}

.signInBox {
	padding-top: 10px;
}

/* styling of lines in signIn box-zbog linearnog gradienta na pozadini te dvije boje nisu iste*/
.signInBox-title {
   border-top: 2px solid #EAEAEA;
   text-align: center;
   height: 15px;
}

/* ------------    TOOOOO DOOOOOOOOOOOOO - neznam kako maknuti ovaj h3  ----------------*/

.signInBox-title h3 {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    position: relative;
    top: -23px;
}

.signInLineBackground1 {
	background: #F8F8F8;
}

.signInLineBackground2 {
	background: #F0F0F0;
}

.ui-grid-a.signIn-third-party {
	margin-bottom: 20px;
	padding-bottom: 5px;
}
.ui-grid-a.signIn-third-party .ui-block-a {
	text-align: right;
	padding-right: 10px;
}
.ui-grid-a.signIn-third-party .ui-block-b {
	padding-left: 10px;
}

.ui-bar, .ui-body {
	clear: none;
}

/*   SIGNUP.HTML   */



.signUpPasswordGridMargin.ui-block-a {
	margin-right: 5%;
}

/*   PLAYLISTSETTINGS.HTML / CREATEPLAYLIST.HTML  */

/* setting widths of two column grid */
.playlistSettingsGridColumn1.ui-block-a {
	width: 50%;
}

.playlistSettingsGridColumn2.ui-block-b {
	width: 50%;
}

/* radio buttons full width of grid */
.playlistSettingsRadioBtn div.ui-controlgroup-controls {
    width:100%;
}
.playlistSettingsRadioBtn div.ui-controlgroup-controls div.ui-radio {
    width: 50%;
}

/* make text divs and radio buttons inline */
.ui-body.ui-body-c.playlistSettingsTextDivs {
	padding-top: 9px;
	padding-bottom: 11px;
}

.ui-body.ui-body-c.playlistSettingsTextDivs,
.ui-corner-all.ui-controlgroup.ui-controlgroup-horizontal.playlistSettingsRadioBtn,
.visibilityOptions.ui-controlgroup,
.ui-controlgroup.createPlaylistCtrlGroupAddBtn{
	margin-top: 0;
}

.ui-body.ui-body-c.playlistSettingsTextDivs,
.ui-corner-all.ui-controlgroup.ui-controlgroup-horizontal.playlistSettingsRadioBtn {
	margin-bottom: 5px;
}

/* remove rounded corners from radio buttons*/
.playlistSettingsRadioBtn.ui-corner-all,
.visibilityOptions.ui-corner-all,
.ui-controlgroup.createPlaylistCtrlGroupAddBtn{
	border-radius: 0;
	margin-bottom: 0;
}

.playlistSettingsTextDivs h4 {
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.createPlaylistEnterSongTextInputField,
.createPlaylistChooseImage {
	margin: 0 42px 0 0;
}
.createPlaylistEnterSongTextInputField {
	margin: 0;
	padding: 0;
}
.createPlaylistEnterSongTextInputField .ui-body-a,
.createPlaylistChooseImage {
	border: 1px solid #111111;
}
.createPlaylistEnterSongTextInputField .ui-corner-all {
    border-radius: 0;
}
.createPlaylistEnterSongTextInputField.ui-field-contain div.ui-input-text {
	display: block;
}

.createPlaylistSettingsInputField .ui-corner-all {
    border-radius: 0;
}

/*   FOOTER   */
/*   one button   */
.ui-footer > .ui-btn.footerActionButton {
	display: table;
	margin: 10px auto;
}

/*   buttons-centered, set apart and padding   */

.footerTwoActionButtons,
.footerCenterBtns {
	margin: 0 auto;
	text-align: center;
	min-height: 53px;
	position: relative;
}

.footerTwoActionButtons .ui-btn-inner,
.footerCenterBtns .ui-btn-inner{
	font-size: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.footerTwoActionButtons .ui-btn,
.footerCenterBtns .ui-btn {
	margin: 8px 5px 8px 5px;
	display:inline-block;
}


/*CREATE PLAYLIST SPOJENO*/
.paddingList .ui-collapsible-content {
	padding-left: 0;
	padding-right: 0;
}

/* koji fail */
.ui-btn {
	margin: 0;
}


.padding2 .ui-btn-inner {
	padding-top: 0;
	padding-bottom: 0;
}

/* .plDetailsTrashBtn .ui-btn {
position: relative; 
top: 50%; 
left: 50%;
margin: -12px 0 -12px 0;
} */


/*PLAYLIST-DETAILS.HTML*/
.plDetailsBanner1 {
	border-bottom: 1px solid #BBBBBB;
}

.ui-listview .songsList {
	min-height:59px;
	padding-left: 100px;
	border-width: 1px 0 0;
}

.songsListImgContainer {
	left: 1px;
	max-height: 80px;
	max-width: 80px;
	position: absolute;
	top: 0;
}

.songListImg {
	top: 1px;
	width: 80px;
	height: 80px;
	position: relative;
	display: block;
}

.playBtn {
	left: 50%;
	margin: -11.5px 0 0 -14px;
	position: absolute;
	top: 50%;
}

.playBtn .ui-icon,
.trashBtnContainer .ui-icon-delete,
.addBtnContainer .ui-icon-add,
.trashBtnContainer2 .ui-icon-delete,
.stopBtn .ui-icon,
.pauseBtn  .ui-icon {
	background-color: #7bc242;
}

/* .suggestBtnContainerLink .ui-icon-check {
	background-color: #7bc242;
} */

.songPlayingTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.songPlayingTitle {
	width: 100%;
}

.trashBtnContainer,
.trashBtnContainer2,
.addBtnContainer {
	height: 100%;
	width: 40px;
	position: absolute;
	right: 0;
	top: 1px;
	border-left: 1px solid #BBBBBB;
	z-index: 2;
}

.trashBtnContainer2,
.addBtnContainer {
	top: 0;
}

.trashBtnContainer .ui-btn,
.trashBtnContainer2 .ui-btn,
.addBtnContainer .ui-btn {
	left: 50%;
	margin: -12px;
	position: absolute;
	top: 50%;
}

.trashBtnContainerLink {
	height: 100%;
	width: 40px;
}

/* PLAYLIST-SAVE.HTML */
.createPlaylistThmbList1 .ui-icon.ui-icon-arrow-d,
.createPlaylistThmbList1 .ui-icon.ui-icon-arrow-u {
    background-color:#7bc242;
}

.createPlaylistThmbList1 .ui-btn-inner {
	padding-left: 14px;
	padding-bottom: 16px;
}
.createPlaylistThmbList1 .ui-icon.ui-icon-arrow-d,
.createPlaylistThmbList1 .ui-icon.ui-icon-arrow-u {
	top: 58px;
}
.newSongsDiv .ui-icon.ui-icon-trash {
	top: auto;
}

.newSongsDiv {
	margin-top: 0px;
	margin-bottom: 0;
}

.playlistViewWrapper {
	margin-top: -15px;
}
.newSongsChosen {
	left: 1px;
	margin-top: 0;
	margin-bottom: 5px;
}

.listItemWithIcon.ui-li.ui-li-static {
	padding-right: 40px;
}

/* playlist-list.html global banner*/
.ui-bar.ui-bar-a.globalHeaderBtns .ui-btn-inner .ui-icon {
	background-color:#7bc242;
}
.ui-bar-a .globalHeaderBtns .ui-link,
.ui-bar-a .globalHeaderBtns .ui-link:visited {
    color: #7BC242;
}

.ui-bar-a .globalHeaderBtns .ui-link:hover {
	 color: #A8DF7C;
}

/*playlist-save delete icon hek*/
.deleteIcon .ui-icon.ui-icon-delete.ui-icon-shadow.ui-icon-arrow-d,
.deleteIcon .ui-icon.ui-icon-delete.ui-icon-shadow.ui-icon-arrow-u {
	background: url("themes/images/icons-18-white-pack.png") no-repeat scroll 0 0 #7BC242;
	background-position: -72px 0;
	top: 0;
	left: 12px;
}
.trashBtnContainer .deleteIcon,
.trashBtnContainer2 .deleteIcon,
.addBtnContainer .addIcon {
	left: 18px;
}

/*   playlist-list volume   */
.globalHeaderBtns {
	padding-left: 6px;
}
.ui-bar-a .globalHeaderBtns .ui-link {
	padding-top: 5px;
}

#volumePopup-popup {
	width: 100%;
}

#volumePopup {
	margin-right: 15px;
}

#volumePopup input.ui-input-text.ui-slider-input {
	display: none;
}

#volumePopup .ui-slider-track.ui-mini {
	margin-left: 15px;
}

/* GLOBAL BANNER */
.globalHeaderBtns {
	padding-right: 8px;
	clear: both;
}

.globalHeaderBtns .ui-icon-custom-play {
	background-image: url("play.png");
}

.globalHeaderBtns .ui-icon-custom-pause {
	background-image: url("pause.png");
}

.globalHeaderBtns .ui-icon-custom-stop {
	background-image: url("stop.png");
}
.globalHeaderBtns .ui-icon-custom-volume {
	background-image: url("volume.png");
}
.globalHeaderBtns  .ui-btn {
	width: 33px;
	height: 33px;
	margin-left: 10px;
}

.globalHeaderBtns .ui-btn-icon-notext .ui-btn-inner,
.ui-bar.ui-bar-a.globalHeaderBtns .ui-btn-inner .ui-icon {
	width: 31px;
	height: 31px;
}
.globalHeaderBtns .ui-btn-icon-notext .ui-btn-inner {
	margin: 1px;
	border-top: 0;
}

.ui-bar.ui-bar-a.globalHeaderBtns .ui-btn-inner .ui-icon {
	margin: 0;
}

.ui-content .ui-listview.listBannerBefore {
	margin-top: 0;
}

.bannerBox.bannerListAfter {
	height: 41px;
	padding-bottom: 0;
}

/*   fork ikon   */
.suggestedPlaylistIcon {
	position: absolute;
	left:49px;
	top: 60px;
}

.error {
	color:red;
}

/*  forked by text  */

.playlistListForkParagraph {
	margin-bottom: 0px;
	margin-top: -5px;
	font-size: 10px;
}

.playlistListForkHeading.ui-li-heading {
	margin-top: 5px;
}

/*feedback tipka*/
.feedbackIcon {
	position: absolute;
	bottom:2px;
	left: 2px;
}
@media all and (max-width: 400px) {
	.feedbackIconMoreSpace {
		display:none;
	}
}

/* center pop up buttons  */
.popUpBtnsCenter {
	margin: 0 auto;
	text-align: center;
}

.popUpTitleCenter {
	text-align: center;
}

.popUpBtnCenter {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.feedbackChoice {
	background: linear-gradient(#91E44D, #649F36) repeat scroll 0 0 #7BC242;
	border: 1px solid #608443;
	font-weight: bold;
	text-decoration: none;
}

.feedbackChoice.ui-btn-up-c,
.feedbackChoice.ui-btn-hover-c:hover {
	color: #FFFFFF;
}

.sharePop {
	min-width: 200px;
	width: 200px;
}
/*social buttons*/
.ui-icon.ui-icon-listup-facebook-login {
	background-image: url('facebook-login.png');
}
.ui-icon.ui-icon-listup-google-login {
	background-image: url('google-login.png');
}

#songProgress input.ui-input-text.ui-slider-input {
	display: none;
}
#songProgress .ui-slider-track.ui-mini {
	margin: 0 150px 0 5px;
}

#playingControls {
	position: absolute;
	top: 26px;
	right: 10px;
}

/*baner for user playlists*/

.rightButtonPresent {
	padding-right: 90px;
}

.ui-li.songsList.listItemWithIcon {
	padding-top: 0;
	height: 71px;
}
.songsToChoose .ui-li.newSongChosenInfo.listItemWithIcon {
	padding-top: 0;
	height: 64px;
}

.listBannerBefore a,
.newSongsDiv a {
	text-decoration: none;
	text-shadow: none;
}
.listBannerBefore .playing a {
	color: #f9f9f9;
}
.listBannerBefore .playing a:hover,
.listBannerBefore .playing a:visited {
	color: #e1f3e4;
}

.bannerTitle a.username {
	text-decoration: none;
	text-shadow: none;
	color: #61ae24;
}

.bannerTitle a.username:hover,
.bannerTitle a.username:visited {
	color: #a8df7c;
}

.infoButton {
	vertical-align: middle;
}

.errorNotFound {
	text-align: center;
	padding: 10px;
}