<div ng-show="ListUp.playing || ListUp.pausing" class="ui-bar ui-bar-a globalHeaderBtns">
	<div>
		<a ng-click="jumpToSong()"><h6 class="songPlayingTitle">
			<span ng-show="ListUp.songProgress > 1">({{ListUp.songObject.durationEstimate/1000 | songTime}})</span>
			<span>{{ListUp.playingTitle}}</span>
		</h6></a>
		<span id="songProgress">
			<input type="range" ng-model="ListUp.songProgress" ng-change="jumpTo()" name="songProgress" min="0" max="1000" data-highlight="true" data-mini="true" />
		</span>
		<div id="playingControls">
			<a ng-hide="ListUp.playing" ng-click="toggleSong()" data-role="button" data-icon="custom-play" data-iconpos="notext" data-inline="true"></a>
			<a ng-show="ListUp.playing" ng-click="toggleSong()" data-role="button" data-icon="custom-pause" data-iconpos="notext" data-inline="true"></a>				
			<a ng-click="stopSong()" data-role="button" data-icon="custom-stop" data-iconpos="notext" data-inline="true"></a>
			<a href="#volumePopup" data-role="button" data-icon="custom-volume" data-iconpos="notext" data-inline="true" data-rel="popup" data-position-to="window"></a>
		</div>
		<div data-role="popup" id="volumePopup">
			<label for="volume" class="ui-hidden-accessible">Volume:</label>
			<input type="range" ng-model="ListUp.volume" ng-change="changeVolume()" name="volume" id="volume" min="0" max="100" data-highlight="true" data-mini="true" />
		</div>
	</div>
</div>
<div style="clear: both;"></div>
