<div data-role="controlgroup" data-type="horizontal" data-corners="false" class="headerCtrlGroupLeft">
	<a href="#!/" data-role="button" data-corners="false" class="headerBtns logoBtn"><img src="../css/logo.png" class="logoImg" alt="ListUp" /></a>
	<a href="#!/create" data-role="button" data-inline="true" data-mini="true" data-theme="b" class="headerBtns textBtnHeader">
		Create
		<span ng-show="ListUp.globalCreatePlaylist.songsOptions.length > 0">({{ListUp.globalCreatePlaylist.songsOptions.length}})</span>
	</a>
</div>
<div data-role="controlgroup" data-type="horizontal"  data-corners="false" class="headerCtrlGroupRight">
	<a ng-show="ListUp.loggedIn" href="#!/user/{{ListUp.userId}}/playlists" data-role="button" class="headerBtns logoBtn"><img ng-src="{{ListUp.avatarUrl}}" alt="{{ListUp.username}}" /></a>
	<a ng-hide="ListUp.loggedIn" href="#!/login" data-role="button" class="headerBtns textBtnHeader">Sign In</a>
</div>