/* -------------    TO DOOOOOOOOO ----------------
ovo treba u harmonici ali radi probleme radio buttonsima */ 
.createPlaylistThmbList1 .ui-btn-up-c {
	background: transparent;
}

/*   HEADER   */
.ui-controlgroup.ui-controlgroup-horizontal.headerCtrlGroupLeft {
	display: inline-block;
} 

.ui-controlgroup.ui-controlgroup-horizontal.headerCtrlGroupRight {
	float: right;
}

.ui-controlgroup.headerCtrlGroupLeft,
.ui-controlgroup.headerCtrlGroupRight {
	margin: 0;
} 

.ui-controlgroup .headerBtns.ui-btn-icon-notext .ui-btn-inner,
.headerBtns .ui-btn-inner {
	height: 50px;
	padding-top: 0;
	padding-bottom: 0;
}

.signInBtnHeader .ui-btn-text {
	top: 16px;
}
.logoBtn .ui-btn-inner {
	padding: 0;
}

/*   INDEX.HTML   */
.ui-content.banner1 {
	padding-top: 0px;
}

.bannerBox{
	margin-left: -15px; 
	margin-right: -15px; 
	padding-bottom: 10px;
}

.ui-header .ui-title.bannerTitle {
	text-align: left; 
	margin-left: 0;
}

.ui-content .ui-listview.playlistList1 {
	margin-bottom: 0;
}


/*   SIGNIN.HTML/SIGNUP.HTML/SIGNUP-USERNAME.HTML   */

.signInBox {
	padding-top: 10px;
}

/* styling of lines in signIn box-zbog linearnog gradienta na pozadini te dvije boje nisu iste*/
.signInBox-title {
   border-top: 2px solid #EAEAEA;
   text-align: center;
   height: 15px;
}

/* ------------    TOOOOO DOOOOOOOOOOOOO - neznam kako maknuti ovaj h3  ----------------*/

.signInBox-title h3 { 
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    position: relative;
    top: -23px;
}

.signInLineBackground1 {
	background: #F8F8F8;
}

.signInLineBackground2 {
	background: #F0F0F0;
}

.ui-grid-a.signIn-third-party {
	margin-bottom: 20px;
}

.ui-bar, .ui-body {
	clear: none; 
}

/*   SIGNUP.HTML   */

.signUpPasswordGrid.ui-grid-a > *:nth-child(n) {
	width: 47.5%;
}

.signUpPasswordGridMargin.ui-block-a {
	margin-right: 5%;
}

/*   PLAYLISTSETTINGS.HTML / CREATEPLAYLIST.HTML  */

/* setting widths of two column grid */
.playlistSettingsGridColumn1.ui-block-a {
	width: 50%;
}

.playlistSettingsGridColumn2.ui-block-b {
	width: 50%;
}

/* radio buttons full width of grid */
.playlistSettingsRadioBtn div.ui-controlgroup-controls {
    width:100%;
}
.playlistSettingsRadioBtn div.ui-controlgroup-controls div.ui-radio {
    width: 50%;
}

/* make text divs and radio buttons inline */
.ui-body.ui-body-c.playlistSettingsTextDivs {
	padding-top: 9px;
	padding-bottom: 11px;
}

.ui-body.ui-body-c.playlistSettingsTextDivs,
.ui-corner-all.ui-controlgroup.ui-controlgroup-horizontal.playlistSettingsRadioBtn,
.visibilityOptions.ui-controlgroup,
.ui-controlgroup.createPlaylistCtrlGroupAddBtn{
	margin-top: 0;	
}

.ui-body.ui-body-c.playlistSettingsTextDivs,
.ui-corner-all.ui-controlgroup.ui-controlgroup-horizontal.playlistSettingsRadioBtn {
	margin-bottom: 5px;
}

/* remove rounded corners from radio buttons*/
.playlistSettingsRadioBtn.ui-corner-all,
.visibilityOptions.ui-corner-all,
.ui-controlgroup.createPlaylistCtrlGroupAddBtn{
	border-radius: 0;
	margin-bottom: 0;
}

.playlistSettingsTextDivs h4 {
	margin-top: 0;
	margin-bottom: 0;
}

/*   CREATEPLAYLIST.HTML   */

.ui-controlgroup.createPlaylistAddBtnField {
	float: right; 
	width:37px; 
	height: 42px;
	margin: 0;
} 

.ui-controlgroup .createPlaylistAddBtn {
	height: 35px;
}

.createPlaylistEnterSongTextInputField,
.createPlaylistChooseImage {
	margin: 0 42px 0 0;
}
.createPlaylistEnterSongTextInputField {
	padding: 0;
}

.createPlaylistEnterSongTextInputField .ui-body-a,
.createPlaylistChooseImage {
	border: 1px solid #111111;    
}

.createPlaylistEnterSongTextInputField .ui-corner-all {
    border-radius: 0;
}

.createPlaylistEnterSongTextInputField.ui-field-contain div.ui-input-text {
	display: block;
}

/*FOOTER*/ 
/*   one button   */
.ui-footer > .ui-btn.footerActionButton {
	display: table;
	margin: 10px auto;
}

/*   two buttons   */
.footerTwoActionButtons {
	float: right;
}


